table{
  border:1px solid;
}
 table th{
  border:1px solid;
}
 table img{
  height:40px;
  width:40px;
}
tr input ::marker{
  color: green;
}

.butadd2{
  margin-left: 280px;
  margin-top: 35px;
  margin-bottom: 85px;
}
.modal-content {

  margin-left: 57px;
  margin-top: 95px;
}

@media screen and (max-width: 500px){
  .butadd2{
margin-left: 177px;
background-color: aquamarine;
  }
  .modal-content {

    margin-left: -4px;
    margin-top: 131px;
    
  }
}